<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome to Conference!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>

		<div class="jumbotron text-center">
			<h1>Welcome to the Conference</h1>
		</div>

		<div class="container">
			<!-- Navigation bar with the days loaded from the database. -->
			<div class="row">
				<ul class="nav nav-tabs">
					<% @days.each do |day| %>
						<p><%=  %></p>
						<li <%= "class='active'".html_safe if day.date.to_s.chomp == @selected_date.to_s.chomp %>><a href="/<%= day.date %>"><%= "#{day.day_of_week.capitalize} - #{day.date}" %></a></li>
					<% end %>
				</ul>
			</div>

			<!-- Table of events -->
		    <div class="row">
		    	<table class="table">
		    		<th>Time</th>
		    		<% @day.tracks.where(has_column: true).each do |track| %>
		    			<th><%= track.name %></th>
		    		<% end %>
		    	</table>
		    </div>

		</div>

	</body>
</html>

